{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Home page</title>
    <link rel="stylesheet" href="{% static 'CSS/stylesheet.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</head>

<body class="bg-dark mx-auto">
    <div class="container pt-05">
        <b class="text-white">Doctor Information</b>
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Phone Number</th>                    
                </tr>
            </thead>
            <tbody>
                {% for doc_info in hospital_doctor_info %}
                <tr>
                    <td scope="row">{{doc_info.id}}</td>
                    <td>{{doc_info.Doctor_name}}</td>
                    <td>{{doc_info.Doctor_designation}}</td>
                    <td>{{doc_info.Doctor_email}}</td>
                    <td>{{doc_info.Doctor_phone_number}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container pt-05">
        <b class="text-white">Hospital Nurse</b>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">Nurse Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for nur in hospital_nurse_info %}
                <tr>
                    <td scope="row">{{nur.id}}</td>
                    <td>{{nur.Nurse_name}}</td>
                    <td>{{nur.Nurse_designation}}</td>
                    <td>{{nur.Nurse_email}}</td>
                    <td>{{nur.Nurse_phone_number}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% for emp in hospital_employee_info%}
        <h5 class="text-white">{{emp}}</h5>
        {% endfor %}
    </div>
</body>

</html>